<br/>
<div class = "container">
  <div class = "row">
    <div class = "col-xl-12" style="text-align: center">
      <h2 style="font-family: 'Josefin Sans', sans-serif;"> {{ today | date:'MMMM'}} </h2>
    </div>  
  </div>
<br/>
  <div class = "row">
      <div class = "col-sm-4" style=""> 
        <button type="button" class="btn btn-outline-info">&lt;</button>
      </div>
      <div class = "col-sm-3">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
           *ngFor="let x of cantDaysOfMonth; index as i; trackBy: trackByFn" id="calendario"> 
          {{ x }}
        </button>
      </div>
      <div class = "col-sm-4" style="align-content: center">
        <button (click)="nextMonth()" class="btn btn-outline-info">Next</button>
        <p>{{ mes }} - tiene {{ next }} dias</p>
      </div>
  </div>
</div>